<ul class="node-items">    
  <li ng-repeat="node in nodes track by $index" ng-click="toggleModal(node.address)" class="node-item">
    <div class="node-item__left">
      <authority-item node="node"></authority-item>
    </div>
    <div class="node-item__right">
      <div class="node-stats">
        <div class="node-stats__cell">
          <h5>Votes casted</h5>
          <ul class="node-votes">
            <li 
              ng-repeat="slot in node.slots" 
              ng-class="{'green': slot.timestamp > 0}"
              title="{{ slot.timestamp > 0 ? 'Vote slot used ' + slot.timestamp + ' on ' + slot.address : null }}"
            >
              <img ng-show="slot.timestamp > 0" ng-src="{{ addressToSrcIcon(slot.address) }}" />
            </li>            
          </ul>
        </div>
        <div class="node-stats__cell right">
          <h5>Votes recieved</h5>
          <h2>{{ node.votes }}</h2>
        </div>
      </div>
    </div>
  </li>  
</ul>

<div class="row" style="margin-top: 30px;">
  <div class="col-md-12 portlet light">
    <div class="portlet-title">
      <div class="caption">Candidate Nodes</div>
    </div>
    <div class="portlet-body">
      <span ng-show="polls.length == 0">No active polls yet</span>
      <ul class="node-items" ng-show="polls.length > 0">
        <li class="node-item" ng-repeat="node in polls" ng-click="toggleModal(node.address, true)">
          <div class="node-item__left">
            <authority-item node="node"></authority-item>
          </div>
          <div class="node-item__right">
            <div class="node-stats">
              <div class="node-stats__cell">
                <h5>Votes recieved</h5>
                <h2>
                  <span ng-class="{'greened': node.votes >= votesRequired }">
                    {{ node.votes }}
                  </span>
                </h2>
              </div>
              <div class="node-stats__cell">
                <h5>Votes required</h5>
                <h2>{{ votesRequired }}</h2>
              </div>
              <div class="node-stats__cell nowrap">
                <h5>Start time</h5>
                <p class="node-item__date" ng-bind-html="millisecondsToDateString(node.startTime * 1000)"></p>
              </div>
              <div ng-if="node.status === 'closed'" class="node-stats__cell nowrap">
                <h5>End time</h5>
                <p class="node-item__date" ng-bind-html="millisecondsToDateString(node.closeTime * 1000)"></p>
              </div>
              <div ng-if="node.status === 'active'" class="node-stats__cell nowrap">
                <h5>Time left</h5>
                <h2>{{ millisecondsToWords(node.closeTime * 1000 - now) }}</h2>
              </div>
              <div ng-if="node.status === 'active'" class="node-stats__cell right center">
                <h2>🕐</h2>                
              </div>
              <div ng-if="node.status === 'closed'" class="node-stats__cell right center">
                <h2 title="{{ node.votes < votesRequired ? 'Authority Node was not added' : 'Authority Node was successfully added' }}">
                  {{node.votes < votesRequired ? '❌' : '✅'}}
                </h2>
              </div>
            </div>
          </div>
        </li>        
      </ul>
    </div>
  </div>
</div>

<voters-list visible="showModal"></voters-list>

<!-- <div class="modal-wrapper" style="position: relative; z-index: 1000;">
  <div class="modal-overlay" style="position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0,0,0,0.3); padding: 3% 0; overflow: auto;">
    <div class="modal-container" style="width: 100%; max-width: 600px; min-height: 200px; background: #fff; margin: 0 auto;">
      <div class="modal-title">
        <h3>32 votes</h3>
      </div>
      <div class="modal-content">
        address
      </div>
    </div>
  </div>  
</div> -->