<div class="modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="close"
          style="text-indent: 0; font-size: 32px; margin-right: 6px;"
          data-dismiss="modal"
          aria-hidden="true"
        >
          &times;
        </button>
        <h4 class="modal-title" ng-if="modalDataLoading">Votes</h4>
        <h4 class="modal-title" ng-if="!modalDataLoading">
          <span ng-if="modalData.length === 0">Votes recieved</span>
          <span ng-if="modalData.length > 0">
            {{ modalData.length }} vote{{ modalData.length === 1 ? '' : 's' }}
            <span ng-if="modalIsBlacklist && modalIsPoll">
              blacklist approval proposed votes
            </span>
            <span ng-if="!(modalIsBlacklist && modalIsPoll)">
              recieved
            </span>
          </span>
        </h4>
      </div>
      <div class="modal-body" ng-transclude>
        <span ng-show="modalDataLoading">Loading...</span>
        <span ng-show="!modalDataLoading && modalData.length ==- 0">
          No votes recieved
        </span>
        <ul
          class="node-items"
          ng-show="!modalDataLoading && modalData.length > 0"
        >
          <li ng-repeat="node in modalData track by $index" class="node-item">
            <div class="node-item__left">
              <authority-item></authority-item>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
